:root {
  --black: #3b434e;
  --gray-light: #ebebeb;
  --white: #ffffff;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --primary-focus: #4425b0;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --font-family: 'Noto Sans KR', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}
